<% recurso = 'cargo'%>

 <table class="table table-bordered table-hover table-xxs col-md-12">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>DESCRIÇÃO</th>
            
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <% (@cargos || []).each do |cargo| %>
          <tr>

            <td><%= cargo&.it_co_cargo_socio%></td>
            <td><%= cargo&.it_no_cargo_socio%></td>
            <td class="text-center">
              <button href="#" 
                  style="padding:10px 10px"
                  data-input="<%= @input_id%>" 
                  data-valor="<%= cargo&.it_no_cargo_socio%>" 
                  class="btn btn-success btn-raised legitRipple btn-<%= recurso%>">
                  <i class=" icon-add"></i> 
              </button>
            </td>
          </tr>
        
        <%end%>
    </tbody>
</table>


<div class="row" style="margin-top: 20px" id="bloco_registros">
    <div class='text-center'><%== pagy_bootstrap_nav(@pagy) %></div>
</div>