<%== subtitulo('ENDEREÇO DE CORRESPONDÊNCIA')%>

        <div class="col-md-12">
          <%= f.input 'Copiar endereço comercial do Contruibuinte', 
              as: :boolean 
          %>
        </div>

        <%= f.input :logradouro, wrapper_html:{ class: 'col-md-12'}%>
        <%= f.input :bairro, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :distrito, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :uf, wrapper_html:{ class: 'col-md-2'}, :readonly => true  %>
        <%== input_pesquisa(
          label: 'MUNICIPIO',
          size: 6,
          input: f.input(nil, label: false),
        )%>

        
        <%= f.input :cep, wrapper_html:{ class: 'col-md-4'}%>


        <%= f.input :telefone, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :email, wrapper_html:{ class: 'col-md-6' }%>