<%== subtitulo('ENDEREÇO DE CORRESPONDÊNCIA')%>

        <div class="col-md-12">
          <%= f.input :copia_endereco_comercial, 
              label: 'Copiar endereço comercial do Contruibuinte', 
              as: :boolean 
          %>
        </div>

        <%= f.input :logradouro, wrapper_html:{ class: 'col-md-12'}%>
        <%= f.input :bairro, wrapper_html:{ class: 'col-md-6'}%>
        
        <%== input_pesquisa(
          label: 'MUNICIPIO',
          size: 6,
          input: f.input(:municipio_corresp, label: false),
          url: municipio_index_path
        )%>

        
        <%= f.input :cep, wrapper_html:{ class: 'col-md-4'}%>


        <%= f.input :telefone, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :email, wrapper_html:{ class: 'col-md-6' }%>