<%== subtitulo('QUADRO SOCIETÁRIO')%>

      <div class="col-md-12">
          <%= f.input :socio_responsavel, 
            label: 'Sócio Responsável?',
              as: :boolean
          %>
      </div>

      <%== input_pesquisa(
          label: 'Identificação',
          size: 6,
          input: f.input(:id_socio, label: false),
          url: socio_index_path
      )%>

      <%= f.input :nome_socio, wrapper_html:{ class: 'col-md-6'}%>
      <%#= f.input :rg, wrapper_html:{ class: 'col-md-4'}%>
      <%#= f.input 'Orgão Expedidor', wrapper_html:{ class: 'col-md-2'}%>

      <%== input_pesquisa(
          label: 'Cargo',
          size: 6,
          input: f.input(:cargo_socio, label: false),
          url: cargo_index_path
      )%>

      <%= f.input :logradouro, wrapper_html:{ class: 'col-md-6'}%>
      <%= f.input :bairro, wrapper_html:{ class: 'col-md-6'}%>
      <%#= f.input :uf, wrapper_html:{ class: 'col-md-2'}%>

      <%== input_pesquisa(
          label: 'Municipio',
          size: 6,
          input: f.input(:municipio_socio, label: false),
          url: municipio_index_path
      )%>


      <%= f.input :cep_socio, wrapper_html:{ class: 'col-md-2'}%>
      <%= f.input :telefone_1_socio, wrapper_html:{ class: 'col-md-3'}%>
      <%= f.input :telefone_2_socio, wrapper_html:{ class: 'col-md-3'}%>
      <%= f.input :email_socio, wrapper_html:{ class: 'col-md-4'}%>
      <%== subtitulo('CADASTRO DE SOCIOS')%>