<% content_for :titulo do%>
<h5 class="panel-title col-md-12 titulo">
  <i class="icon-stack"></i>
  <strong>
    REQUERIMENTO DE INSCRIÇÃO DE SUBSTITUTO TRIBUTÁRIO
  </strong>
</h5>
<%end%>


<%= simple_form_for :requerimento do |f|%>
  <div class="row">

    <%= render 'requerimentos/form/tipo_servico', f: f%>
    <%= render 'requerimentos/form/identificacao_contribuinte', f: f%>
    <%= render 'requerimentos/form/endereco_comercial', f: f%>
    <%= render 'requerimentos/form/endereco_correspondencia', f: f%>
    <%= render 'requerimentos/form/qualificacao_contribuinte', f: f%>
    <%= render 'requerimentos/form/identificacao_contabilista', f: f%>
    <%= render 'requerimentos/form/quadro_societario', f: f%>

  </div>

<% end %>
