<% content_for :titulo do%>
<h5 class="panel-title col-md-12 titulo">
  <i class="icon-stack"></i>
  <strong>
    REQUERIMENTO DE INSCRIÇÃO DE SUBSTITUTO TRIBUTÁRIO
  </strong>
</h5>
<%end%>


<%= simple_form_for :requerimento do |f|%>
  <div class="row">

    <div class="tabbable col-md-12 tab-formulario">
      <ul class="nav nav-tabs nav-justified nav-tabs-top">
        <li class="active"> <a href="#tab_ident_contr", data-toggle="tab">IDENTIFICAÇÃO DO CONTRIBUINTE</a> </li>
        <li > <a href="#tab_endereco_comercial", data-toggle="tab">ENDEREÇO COMERCIAL</a> </li>
        <li > <a href="#tab_ender_corresp", data-toggle="tab">ENDEREÇO DE CORRESPONDÊNCIA</a> </li>
        <li > <a href="#tab_qualificacao", data-toggle="tab">QUALIFICAÇÃO DO CONTRIBUINTE</a> </li>
        <li > <a href="#tab_ident_cont", data-toggle="tab">IDENTIFICAÇÃO DO CONTABILISTA</a> </li>
        <li > <a href="#tab_socio", data-toggle="tab">QUADRO SOCIETÁRIO</a> </li>
      </ul>

      <div class="tab-content">

          <div class="tab-pane has-padding active" id="tab_ident_contr">
            <%= render 'requerimentos/form/tipo_servico', f: f%> 
            <%= render 'requerimentos/form/identificacao_contribuinte', f: f%>
          </div>

          <div class="tab-pane has-padding " id="tab_endereco_comercial">
            <%= render 'requerimentos/form/endereco_comercial', f: f%>
          </div>

          <div class="tab-pane has-padding " id="tab_ender_corresp">
            <%= render 'requerimentos/form/endereco_correspondencia', f: f%>
          </div>

          <div class="tab-pane has-padding " id="tab_qualificacao">
            <%= render 'requerimentos/form/qualificacao_contribuinte', f: f%>
          </div>

          <div class="tab-pane has-padding " id="tab_ident_cont">
            <%= render 'requerimentos/form/identificacao_contabilista', f: f%>
          </div>

          <div class="tab-pane has-padding " id="tab_socio">
            <%= render 'requerimentos/form/quadro_societario', f: f%>
          </div>

      </div>

    </div>
    
    
  </div>

<% end %>

<div id="bloco_modal"></div>
