<% content_for :titulo do%>
<h5 class="panel-title col-md-12 titulo">
  <i class="icon-stack"></i>
  <strong>
    REQUERIMENTO DE INSCRIÇÃO DE SUBSTITUTO TRIBUTÁRIO
  </strong>
</h5>
<%end%>


<%= simple_form_for :requerimento do |f|%>
  <div class="row">

    <%== subtitulo('TIPO DE SERVIÇO')%>



    <div class="col-md-12">
      <%= f.input '',
          legend_tag: false,
          label: false, 
          as: :radio_buttons,
          collection: [
            ['Inscrição Substituto Tributário ou Gráfica de Outro Estado',1],
            ['Inscrição Canteiro Obras',2],
            ['Inscrição Estadual de Empresa não Registrada na Jucer',3]
          ]
      %>
    </div>


    <%== subtitulo('IDENTIFICAÇÃO DO CONTRIBUINTE')%>

    <%= f.input :cnpj, wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Nome/Razão Social', wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Nome fantasia', wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Utilização do estabelecimento', 
        as: :select,
        collection: lista_estabelecimentos,
        wrapper_html:{ class: 'col-md-6'} 
    %>


    <%== subtitulo('ENDEREÇO COMERCIAL DO CONTRIBUINTE')%>


    <%== input_pesquisa(
      label: 'LOGRADOURO',
      input: f.input(nil, label: false),
      size: 6,
    )%>

    <%= f.input :complemento, wrapper_html:{ class: 'col-md-4'} %>
    <%= f.input :numero, wrapper_html:{ class: 'col-md-2'} %>

    <%== input_pesquisa(
      label: 'BAIRRO',
      input: f.input(nil, label: false),
      size: 6,
    )%>

    <%== input_pesquisa(
      label: 'DISTRITO',
      input: f.input(nil, label: false),
      size: 6,
    )%>

    <%== input_pesquisa(
      label: 'MUNICIPIO',
      size: 6,
      input: f.input(nil, label: false),
    )%>

    <%= f.input :uf, wrapper_html:{ class: 'col-md-2'}, :readonly => true  %>
    <%= f.input :cep, wrapper_html:{ class: 'col-md-4'}%>
    
    <%= f.input 'Alvará', wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Área Utilizada', wrapper_html:{ class: 'col-md-2'}%>
  
    
    <%== subtitulo('ENDEREÇO DE CORRESPONDÊNCIA')%>

        <div class="col-md-12">
          <%= f.input 'Copiar endereço comercial do Contruibuinte', 
              as: :boolean 
          %>
        </div>

        <%= f.input :logradouro, wrapper_html:{ class: 'col-md-12'}%>
        <%= f.input :bairro, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :distrito, wrapper_html:{ class: 'col-md-6'}%>

        <%== input_pesquisa(
          label: 'MUNICIPIO',
          size: 6,
          input: f.input(nil, label: false),
        )%>

        <%= f.input :uf, wrapper_html:{ class: 'col-md-2'}, :readonly => true  %>
        <%= f.input :cep, wrapper_html:{ class: 'col-md-4'}%>


        <%= f.input :telefone, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :email, wrapper_html:{ class: 'col-md-6' }%>

  </div>

<% end %>
