<% content_for :titulo do%>
<h5 class="panel-title col-md-12 titulo">
  <i class="icon-stack"></i>
  <strong>
    REQUERIMENTO DE INSCRIÇÃO DE SUBSTITUTO TRIBUTÁRIO
  </strong>
</h5>
<%end%>


<%= simple_form_for :requerimento do |f|%>
  <div class="row">

    <%= render 'requerimentos/form/tipo_servico', f: f%>

    <%== subtitulo('IDENTIFICAÇÃO DO CONTRIBUINTE')%>

    <%= f.input :cnpj, wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Nome/Razão Social', wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Nome fantasia', wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Utilização do estabelecimento', 
        as: :select,
        collection: lista_estabelecimentos,
        wrapper_html:{ class: 'col-md-6'} 
    %>


    <%== subtitulo('ENDEREÇO COMERCIAL DO CONTRIBUINTE')%>


    <%== input_pesquisa(
      label: 'LOGRADOURO',
      input: f.input(nil, label: false),
      size: 6,
    )%>

    <%= f.input :complemento, wrapper_html:{ class: 'col-md-4'} %>
    <%= f.input :numero, wrapper_html:{ class: 'col-md-2'} %>

    <%== input_pesquisa(
      label: 'BAIRRO',
      input: f.input(nil, label: false),
      size: 6,
    )%>

    <%== input_pesquisa(
      label: 'DISTRITO',
      input: f.input(nil, label: false),
      size: 6,
    )%>
    <%= f.input :uf, wrapper_html:{ class: 'col-md-2'}, :readonly => true  %>
    <%== input_pesquisa(
      label: 'MUNICIPIO',
      size: 6,
      input: f.input(nil, label: false),
    )%>

    
    <%= f.input :cep, wrapper_html:{ class: 'col-md-4'}%>
    
    <%= f.input 'Alvará', wrapper_html:{ class: 'col-md-6'} %>
    <%= f.input 'Área Utilizada', wrapper_html:{ class: 'col-md-2'}%>
  
    
    <%== subtitulo('ENDEREÇO DE CORRESPONDÊNCIA')%>

        <div class="col-md-12">
          <%= f.input 'Copiar endereço comercial do Contruibuinte', 
              as: :boolean 
          %>
        </div>

        <%= f.input :logradouro, wrapper_html:{ class: 'col-md-12'}%>
        <%= f.input :bairro, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :distrito, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :uf, wrapper_html:{ class: 'col-md-2'}, :readonly => true  %>
        <%== input_pesquisa(
          label: 'MUNICIPIO',
          size: 6,
          input: f.input(nil, label: false),
        )%>

        
        <%= f.input :cep, wrapper_html:{ class: 'col-md-4'}%>


        <%= f.input :telefone, wrapper_html:{ class: 'col-md-6'}%>
        <%= f.input :email, wrapper_html:{ class: 'col-md-6' }%>
      
      <%== subtitulo('QUALIFICAÇÃO DO CONTRIBUINTE')%>

      <%== input_pesquisa(
          label: 'Natureza Jurídica',
          size: 6,
          input: f.input(nil, label: false),
      )%>

      <%== input_pesquisa(
          label: 'Regime de Pagamento',
          size: 6,
          input: f.input(nil, label: false),
      )%>

      <%== input_pesquisa(
          label: 'Atividade Econômica Principal',
          size: 6,
          input: f.input(nil, label: false),
      )%>


      <%== subtitulo('IDENTIFICAÇÃO DO CONTABILISTA')%>

      <%== input_pesquisa(
          label: 'Identificação',
          size: 6,
          input: f.input(nil, label: false),
      )%>

      <%= f.input :crc, wrapper_html:{ class: 'col-md-6'}%>
      <%= f.input 'Razão Social', wrapper_html:{ class: 'col-md-6'}%>
      <%= f.input :logradouro, wrapper_html:{ class: 'col-md-6'}%>

      <%= f.input :bairro, wrapper_html:{ class: 'col-md-6'}%>
      <%= f.input :distrito, wrapper_html:{ class: 'col-md-6'}%>

      <%= f.input :uf, readonly: true, wrapper_html:{ class: 'col-md-2'}%>
      <%== input_pesquisa(
          label: 'Municipio',
          size: 6,
          input: f.input(nil, label: false),
      )%>

      
      <%= f.input :cep, wrapper_html:{ class: 'col-md-4'}%>
      <%= f.input :telefone_1, wrapper_html:{ class: 'col-md-4'}%>
      <%= f.input :telefone_2, wrapper_html:{ class: 'col-md-4'}%>
      <%= f.input :email, wrapper_html:{ class: 'col-md-4'}%>


      <%== subtitulo('QUADRO SOCIETÁRIO')%>

      <div class="col-md-12">
          <%= f.input 'Sócio Responsável?', 
              as: :boolean
          %>
      </div>

      <%== input_pesquisa(
          label: 'Identificação',
          size: 6,
          input: f.input(nil, label: false),
      )%>

      <%= f.input 'Nome/Razão Social', wrapper_html:{ class: 'col-md-6'}%>
      <%= f.input :rg, wrapper_html:{ class: 'col-md-4'}%>
      <%= f.input 'Orgão Expedidor', wrapper_html:{ class: 'col-md-2'}%>

      <%== input_pesquisa(
          label: 'Cargo',
          size: 6,
          input: f.input(nil, label: false),
      )%>

      <%= f.input :logradouro, wrapper_html:{ class: 'col-md-6'}%>
      <%= f.input :bairro, wrapper_html:{ class: 'col-md-6'}%>
      <%= f.input :distrito, wrapper_html:{ class: 'col-md-4'}%>

      <%= f.input :uf, wrapper_html:{ class: 'col-md-2'}%>

      <%== input_pesquisa(
          label: 'Municipio',
          size: 6,
          input: f.input(nil, label: false),
      )%>


      <%= f.input :cep, wrapper_html:{ class: 'col-md-2'}%>
      <%= f.input :telefone_1, wrapper_html:{ class: 'col-md-3'}%>
      <%= f.input :telefone_2, wrapper_html:{ class: 'col-md-3'}%>
      <%= f.input :email, wrapper_html:{ class: 'col-md-4'}%>


      <%== subtitulo('CADASTRO DE SOCIOS')%>








  </div>

<% end %>
