<% recurso = 'contador'%>

 <table class="table table-bordered table-hover table-xxs col-md-12">
    <thead>
        <tr>
            <th>CPF/CNPJ</th>
            <th>NOME</th>
            <th>CRC</th>
            
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <% (@contadores || []).each do |contador| %>
          <tr>

            <td><%= contador&.gr_identificacao[1,14]%></td>
            <td><%= contador&.it_no_pessoa%></td>
            <td><%= contador&.gr_numero_crc%></td>
            <td class="text-center">
              <button href="#" 
                  style="padding:10px 10px"
                  data-input="<%= @input_id%>" 
                  data-valor="<%= contador&.gr_identificacao[1,14]%>" 
                  data-crc="<%= contador&.gr_numero_crc%>" 
                  data-nome="<%= contador&.it_no_pessoa%>" 
                  class="btn btn-success btn-raised legitRipple btn-<%= recurso%>">
                  <i class=" icon-add"></i> 
              </button>
            </td>
          </tr>
        
        <%end%>
    </tbody>
</table>


<div class="row" style="margin-top: 20px" id="bloco_registros">
    <div class='text-center'><%== pagy_bootstrap_nav(@pagy) %></div>
</div>